* {
  margin: 0px;
  padding: 0px;
  color: whitesmoke;
}

/* SET BODY STYLES
-----------------------*/
body {
  background-image: url(/static/images/park1920x1080.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* SET LOGO ROTATION RIGHT
---------------------------*/
.logo {
  animation: spin-right 8s linear infinite;
}

@keyframes spin-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HEADER
---------- */
header {
  font-size: 2rem;
}

.active-link {
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgba(162, 7, 252, 0.432);
  margin: 0px 5px;
}

header .nav-link:hover {
  font-size: 1.95rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(162, 7, 252, 0.432);
}

.contact {
  display: inline;
}

/* MAIN STYLES
-------------- */
main {
  min-height: 80vh;
}

.hero-text {
  font-size: 1.5rem;
  /* background-color: rgba(0, 0, 0, 0.137); */
}

.nav-tabs > .nav-link {
  color: white;
}

.nav-tabs > .nav-link.active {
  color: rgb(0, 60, 255);
}

.card {
  margin-top: 5px;
}

h2 {
  text-align: center;
}

i {
  color: aquamarine;
}

/* EXCHANGE STYLES
------------------- */

.bg-money {
  background-image: url(/static/images/exchange/exchange_bg_1920x1080.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 75px rgba(64, 3, 99, 0.733) ;
}

.text-2rem-colored {
  font-size: 2rem;
  color: rgba(238, 197, 255, 0.74);
}

