{% extends 'base.html' %}


{% block title %}
Home
{% endblock %}

{% block active_cover %}active-link{% endblock %}

{% block main %}
<div class="hero-text px-4 py-5 text-white">

  <h1 class="display-5 mt-5 fw-bold text-center">A long learning way...</h1>
  <div class="col-lg-6 mx-auto">
    <p class="mb-4 text-center">
      Welcome to my blog! Here you will find updates and projects with Python programming language.
      As a passionate developer, I am constantly exploring new ways to use Python to build efficient and effective
      software solutions. Through this blog, I hope to share my knowledge and experience with Python, and inspire others
      to learn and create with this versatile language. </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/about" class="btn btn-outline-primary text-white btn-lg px-4 gap-3">
        Read more
      </a>

    </div>
  </div>
</div>
{% endblock %}