{% extends 'layout.html' %}


{% block title %}
Home
{% endblock %}

{% block active_cover %}active-link{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
    <div class="hero-text px-4 py-5 text-white">
      <h1 class="display-5 mt-5 fw-bold text-center">A long learning way...</h1>
        <p class="mb-4 text-center">
          Welcome to my blog-like project! Here you will find updates and projects with Python programming language.
          Through this blog, I hope to share my knowledge and experience with Python, and inspire others
          to learn and create with this versatile language. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/about" class="btn btn-outline-primary text-white btn-lg px-4 gap-3">
            Read more
          </a>
  
        </div>
    </div>
  </div>
  </div>
{% endblock %}