{% extends 'layout.html' %}


{% block title %}
Home
{% endblock %}

{% block active_cover %}active-link{% endblock %}

{% block main %}
<div class="row">
	<div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
		<div class="hero-text px-4 py-5 text-bg-dark rounded-circle">
			<h1 class="display-5 mt-5 fw-bold text-center">Hello there.</h1>
				<p class="mb-4">
					Welcome to my portfolio page! <br>
					In this project, I will share my latest updates, reworked projects from the past, and current tasks I am working
					on with Python programming language.
					Through this blog, I want to keep records of how my programming level grows, and share my knowledge and experience with Python.</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<a href="/about" class="btn btn-outline-primary text-white btn-lg px-4 gap-3">
						Read more
					</a>

				</div>
		</div>
	</div>
	</div>
{% endblock %}